.itemscontainer{
	overflow: auto;
}
.prevarrow, .nextarrow{
	display:none;
}
#stripcontainer{
	overflow: auto;
}
#prevtitlearrow, #nexttitlearrow{
	display: none;
}
#itemdetailcontainer img{
	max-width: 400px;
}