.eachitem li {
	display: block;
}
.eachitem li p {
    max-width: none;
}
.eachitem{
	text-align: center;
}

#logincontainer p a {
    margin:none;
}

#headercontainer nav{
	line-height: 20px;
	border-top: 1px solid #eee;
	padding-top: 10px;
}
#headercontainer{
	padding-top:10px;
}