#topnav p {
    display: block;
    text-align: center;
}
#mainlogo {
    display: block;
    margin: auto;
}
nav {
    float: none;
    text-align: center;
}
#topnav ul {
	float: none;
    text-align: center;
}
#checkoutdetailscontainer li {
    max-width: 100%;
}
#bannertextcontainer{
	position:absolute;
	margin:auto;
	top:20%;
	left: 0;
	right:0;

}
#bannertext p{
	font-size: 0.8em;
	text-align: center;
	margin: 5px;	
}

#bannertext p:first-child{
	letter-spacing: 3px;
	font-size: 1em;
}
#ctabtn{
	width: 200px;
	margin: auto;
	text-transform: uppercase;
	padding: 10px;
	margin-top: 20px;
	border:1px solid #eeeeee;
	border-radius: 10px;
	text-align: center;
	
}
#ctabtn a{
	color: white;	
	text-decoration: none;
	font-size: 0.7em;
}

#itemdetailcontainer li{
	text-decoration: none;
	display: block;
	vertical-align: middle;
	text-align: center;
}

#itemdetailcontainer button{
	padding:10px 30px;
	position: relative;
	cursor: pointer;
	border:1px solid #eeeeee;
	background: rgb(128, 128, 77);
	color: white;
	font-weight: bold;
	text-align: center;

}
#iteminfo{
	max-width: 100%;
}

#addtocartbtn{
	position: relative;
	text-align: center;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;

}
#addtocartbtn:hover{
	box-shadow: 1px 1px 5px 1px #000000;

}
.eachitem li {
    margin-left: 60px;
}

@media (max-width: 500px) {
	.eachitem li {
    margin-left: 40px;
}
}


