{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}
Confirm Payment - Joyce Cakes
{% endblock %}

{% block bodycontent %}
<hr style="border-color:rgba(0,0,0,0.1);">
<div id="alreadypaidcontainer" class="midpagecontainer">
	<h4>Confirm Payment</h4>
	<hr style="border-color:rgba(0,0,0,0.1);">
	<form method="post">
	{% csrf_token %}
		<fieldset>
		<legend>Bank Information</legend>
		<p>{{form.bank_name}}</p>
		<p>{{form.amount_paid}}Ex:11000</p>
		<p>{{form.transaction_id}}Get it <a href="{%url 'user_transaction_page'%}" target="_blank">here</a></p>
		</fieldset>
		<fieldset>
			<legend>Personal Information</legend>
			<p>{{form.customer_name}}</p>
			<p>{{form.customer_mobile}}</p>
			<p>{{form.extra_info}}</p>
			{{form.non_field_errors}}
		</fieldset>
		<input type="submit" value="Submit">
		<div class="clearfix"></div>
		
	</form>
</div>
{% endblock %}