{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}
Cart - Joyce Cakes
{% endblock %}


{% block bodycontent %}
	<hr style="border-color:rgba(0,0,0,0.1);">

	<div id="cartcontainer" class="midpagecontainer">
	<h4>Cart Items</h4>
	<hr style="border-color:rgba(0,0,0,0.1);">
	{# TODO FIX THIS TO SHOW 'NO ITEMS IN CART TEXT'#}
	{% if all_cart_items > 0 %}
	<form action="{% url 'shop-cart-view' %}" method="post">
	{% csrf_token %}
	{% for i in all_cart_items%}
		<ul class="eachitem" data-itemid="{{i.id}}">
			<li><img src="{{i.image_file.url}}"></li>
			<li><p><a href="#">{{i.name}}</a></p></li>
			<li><p>&#8358;<span class="cartitemsingleprice">{{i.sale_price|intcomma}}</span></p></li>
			<li><p>Qty: <input class="cartitemqty"type="text" maxlength="2" value="1" name="id_{{i.id}}_qty"></p></li>
			<li><p>&#8358;<span class="cartitemtotalprice">{{i.sale_price|intcomma}}</span></p></li>
			<li><p data-removecarturl="{% url 'shop-togglecart-view' item_id=i.id %}" onclick="removeFromCartInCartHtml(this)" style="cursor:pointer;color:red;text-decoration:none;text-transform:lowercase;">x</p></li>			
		</ul>
	{% endfor %}
		<button type="button" id="cartupdateallprices" data-urlprice="{% url 'shop-getitemprices' item_ids_string=cart_items_string %}" onclick="confirmAllItemPrices()">
		Update Prices</button>
		<hr style="border-color:rgba(0,0,0,0.1);">
		<strong>Total &#8358;<span id="cartallitemstotalsaleprice">{{totalprice|intcomma}}</span></strong>
		<p class="clearfix"></p>
		
			<input type="submit" value="Checkout">
			<input type="button" data-myurl="{% url 'shop-gallery-view' %}" onclick="visitmyurl(this)" value="Continue Shopping">
		<p class="clearfix"></p>		
	</div>
	{% else %}
	<h1>Your Cart is empty!!</h1>
	{% endif %}
	</form>	
	<div id="giftitemscontainer" class="midpagecontainer">
	<hr style="border-color:rgba(0,0,0,0.1);">
	<div id="carouselgift" class="carouselitems">
		<div>
			<div class="midpagecontainer striptitle"><h4 style="color:#555555;">You might also like</h4>
			<a class="viewallbtn" href="#">View All</a></div>
			
			<div class="itemscontainer midpagecontainer">
			<p class="prevarrow">&#8249;</p>
			<p class="nextarrow">&#8250;</p>
			<ul>
				<li><a href="#">
					<img src="static/media/images/cakes/1.jpeg">
					<p>Birthday Cake</p>
					<strike>N4000</strike><span><b> N5000</b></span>
					<p style="opacity:0.3">Category: Birthday Cakes</p>
					</a>
				</li>
				
			</ul>

			</div>

		</div>
		<div class="clearfix"></div>
	</div>	
		
	</div>
{% endblock %}