
{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}
Checkout - Joyce Cakes
{% endblock %}


{% block bodycontent %}
	<hr style="border-color:rgba(0,0,0,0.1);">
	<div id="checkoutcontainer" class="midpagecontainer">
	<h4>Checkout</h4>
	<hr style="border-color:rgba(0,0,0,0.1);">
	<ul id="checkoutdetailscontainer">
		<li>
			<form>
				<fieldset>
				<legend>Delivery Information</legend>
					{{profile_form.address1}}
					{{profile_form.address2}}
					{{profile_form.city}}
					{{profile_form.state}}
					{{profile_form.non_field_errors}}
				</fieldset>
				<fieldset>
					<legend>Contact Information</legend>
					{{profile_form.full_name}}
					{{profile_form.mobile_number}}
				</fieldset>				
			</form>
		</li>
		<li>
			<div id="summarycontainer">
				<h5>Your Order</h5>
				<p>Total: &#8358;{{totalprice|intcomma}}</p>
				<p>Tax: N1,200</p>
				<p>Delivery: N0</p>
				<!-- <textarea maxlength="100" placeholder="Extra Details"></textarea> -->
				{{profile_form.extra_details}}
				<hr>
				<h2>N13,200</h2>
				<hr>
				<span id="paybtn"><a href="#">Quickteller</a></span>
				<span id="paybtn"><a href="#">Paypal</a></span>

			</div>
		</li>
	</ul>
	</div>	
{% endblock %}
	