
{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}
Checkout - Joyce Cakes
{% endblock %}


{% block bodycontent %}
	<hr style="border-color:rgba(0,0,0,0.1);">
	<div id="checkoutcontainer" class="midpagecontainer">
	<h4>Checkout</h4>
	<hr style="border-color:rgba(0,0,0,0.1);">
	<ul id="checkoutdetailscontainer">
		<li>
			<form>
				<fieldset>
				<legend>Delivery Information</legend>
					{{profile_form.address1}}
					{{profile_form.address2}}
					{{profile_form.city}}
					{{profile_form.state}}
					{{profile_form.non_field_errors}}
				</fieldset>
				<fieldset>
					<legend>Contact Information</legend>
					{{profile_form.full_name}}
					{{profile_form.mobile_number}}
				</fieldset>				
			</form>
		</li>
		<li>
			<div id="summarycontainer">
				<h5 class="theme-color">Your Order</h5>
				<p>Total: &#8358;{{totalprice|intcomma}}</p>
				<hr>
				<h2>&#8358;{{totalprice|intcomma}}</h2>
				<hr>

			</div>
			{%include 'bank_info.html'%}
		</li>
	</ul>
	</div>	
{% endblock %}
	