
<div id="galleryconytainer" class="midpagecontainer">
		<ul class="galleryitem">
		{% for i in cakes%}
			<li><a href="{%url 'shop-item-detail-view' i.category.slug i.slug %}">
				{% if i.show_as_new %}
				<span class="gallerynewtag">New</span>
				{% endif %}
					<img src="{{i.image_file.url}}">
					<p>{{i.name}}</p>
					{% if i.old_price > 0%}
					<strike>&#8358;4000</strike><span>
					{% endif %}
					<b> &#8358;{{i.sale_price}}</b></span>
					</a>				
			</li>
			{% endfor %}
			
		</ul>
		
	</div>