{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
{{item.name}}{{default_vals.main_title_extra}}
{% endblock %}



{% block bodycontent %}
<hr style="border-color:rgba(0,0,0,0.1);">
<ul id="itemdetailcontainer" class="midpagecontainer">
<h3 style="color:#cccccc;padding:10px;">{{item.name}}</h3>
		<li>
			<div><img data-src="{{item.image_file.url}}" src="{% static 'images/loader.gif' %}"></div>
		</li>
		<li>
			<div id="iteminfo">
				
				{% if item.old_price > 0 %}
				<strike>&#8358;{{item.old_price|intcomma}}</strike>
				{% endif %}
				<h3>&#8358;{{item.sale_price|intcomma}}</h3>					
				<p style="color:#999999;">{{item.brief_detail}}
				</p>						
			</div>
		</li>
		{% if item.show_as_new %}
		<p id="newbanner">Newly Added</p>
		{% endif %}


		<p><button class="theme-color itemaddtocart item_id_{{item.id|stringformat:'i'}}" data-urlsubmit="{% url 'shop-togglecart-view' item_id=item.id %}">
						{% if item.id|stringformat:"i" in request.session.cart_items %}
							Added
							{% else %}
							Add To Cart
							{% endif %}

					</button></p>

	</ul>
	<div class="midpagecontainer" id="extraimagesdetail">
	<ul>
		<li><img data-src="{{item.image_file.url}}" src="{% static 'images/loader.gif' %}" height="100"></li>
		<li><img data-src="{{item.image_file.url}}" src="{% static 'images/loader.gif' %}" height="100"></li>
		<li><img data-src="{{item.image_file.url}}" src="{% static 'images/loader.gif' %}" height="100"></li>
		<li><img data-src="{{item.image_file.url}}" src="{% static 'images/loader.gif' %}" height="100"></li>
		<li><img data-src="{{item.image_file.url}}" src="{% static 'images/loader.gif' %}" height="100"></li>
		<li><img data-src="{{item.image_file.url}}" src="{% static 'images/loader.gif' %}" height="100"></li>
		<li><img data-src="{{item.image_file.url}}" src="{% static 'images/loader.gif' %}" height="100"></li>
		<li><img data-src="{{item.image_file.url}}" src="{% static 'images/loader.gif' %}" height="100"></li>
	</ul>

		
	</div>
	<hr style="border-color:rgba(0,0,0,0.1);margin-top:100px;">
	{% include 'gift_items_container.html' with gifts=gifts %}


{% endblock %}