
{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
{{item.name}}{{default_vals.main_title_extra}}
{% endblock %}




{% block bodycontent %}

<div id="itemdetailimageprev">
<img src="{% static 'images/loader.gif' %}" >
<span onclick="removeextraimagepopup()" style="position:absolute;top:1px;right:5px;color:red;cursor:pointer;">x</span></div>

<hr style="border-color:rgba(0,0,0,0.1);">
<ul id="itemdetailcontainer" class="midpagecontainer">
<h3 style="color:#cccccc;padding:10px;">{{item.name}}</h3>
		<li>
			<div><img data-src="{{item.image_file.url}}" src="{% static 'images/loader.gif' %}"></div>
		</li>
		<li>
			<div id="iteminfo">
				
				{% if item.old_price > 0 %}
				<strike>&#8358;{{item.old_price|intcomma}}</strike>
				{% endif %}
				<h3>&#8358;{{item.sale_price|intcomma}}</h3>					
				<p style="color:#999999;">{{item.brief_detail}}
				</p>						
			</div>
		</li>
		{% if item.show_as_new %}
		<p id="newbanner">Newly Added</p>
		{% endif %}


		<p><button class="theme-color itemaddtocart item_id_{{item.id|stringformat:'i'}}" data-urlsubmit="{% url 'shop-togglecart-view' item_id=item.id %}">
						{% if item.id|stringformat:"i" in request.session.cart_items %}
							Added
							{% else %}
							Add To Cart
							{% endif %}

					</button></p>

	</ul>
	{% if extra_images %}
	<div class="midpagecontainer" id="extraimagesdetail">
	<ul>
	{% for extra_img in extra_images %}

		<li class="itemdetailextraimages">
		<img data-src="{{extra_img.name.url}}" src="{% static 'images/loader.gif' %}" height="100">
		</li>
	{% endfor %}
	</ul>
	{% endif %}

		
	</div>
	<hr style="border-color:rgba(0,0,0,0.1);margin-top:100px;">
	{% include 'gift_items_container.html' with gifts=gifts %}


{% endblock %}
