{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{'Change Password - Joyce Cakes'}}
{% endblock %}
{% block bodycontent %}	

	<hr style="border-color:rgba(0,0,0,0.1);">
	
		<form id="logincontainer" class="midpagecontainer" method="post" action="{{request.path}}">
			{% csrf_token %}
			{% if show_success = 'no'%}
			<h4>Change Password</h4>
			{{form.old_password}}
			{{form.first_password}}
			{{form.second_password}}
			{{form.non_field_errors}}
			<input type="submit" value="Change">
			{% elif show_success = 'yes'%}
			<h4>Password Successfully Changed!!</h4>
			{% endif %}
		</form>
	
{% endblock %}