{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{'Delivery Info - Joyce Cakes'}}
{% endblock %}
{% block bodycontent %}	
	<hr style="border-color:rgba(0,0,0,0.1);">



		<form action="{% url 'user_delivery'%}" method="post" id="shippingcontainer" class="midpagecontainer">
		{% csrf_token %}
			<h4 style="color:#cccccc;margin:auto;padding-left:20px;">{{form.get_title}}</h4>
			{{form.address1}}
			{{form.address2}}
			{{form.city}}
			{{form.state}}
			{{form.country}}
			{{form.non_field_errors}}
			<input type="submit" value="Submit" />
		</form>	
{% endblock %}