{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{'Login - Joyce Cakes'}}
{% endblock %}
{% block bodycontent %}	
	<hr style="border-color:rgba(0,0,0,0.1);">
	<form action="{{request.path}}" id="logincontainer" class="midpagecontainer" method="post">
			{% csrf_token %}	
			<h4>{{form.get_title}}</h4>
			{{form.username}}
			{{form.password}}
			{{form.non_field_errors}}
			<input type="hidden" value="{{next_url}}" name="next_url">
			<input type="submit" value="Login" />			
			<p style="text-align:center;"><a href="{% url 'forgot_password' %}">Forgot password?</a></p>
	</form>
{% endblock %}
