{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{'Register - Joyce Cakes'}}
{% endblock %}
{% block bodycontent %}	
	<hr style="border-color:rgba(0,0,0,0.1);">



		<form action="{% url 'user_register'%}" method="post" id="registercontainer" class="midpagecontainer">
		{% csrf_token %}
			<h4 style="color:#cccccc;margin:auto;padding-left:20px;">{{form.get_title}}</h4>
			{{form.first_name}}
			{{form.last_name}}
			{{form.email}}
			{{form.mobile_number}}
			{{form.username}}
			{{form.password}}
			{{form.verify_password}}
			{{form.non_field_errors}}
			<input type="hidden" value="regform" name="formkind">
			<input type="submit" value="Enter delivery details" />
		</form>	
{% endblock %}