{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{'Registered Success - Joyce Cakes'}}
{% endblock %}
{% block bodycontent %}	
	<hr style="border-color:rgba(0,0,0,0.1);">
	<div id="orderconfirmcontainer" class="midpagecontainer">
		<h3>Thank you for registering.</h3>
		<p><button class="font-theme-color-hover" data-myurl="{% url 'user_login'%}" onclick="visitmyurl(this)">Login</button></p>
		<p><button class="font-theme-color-hover" data-myurl="{% url 'shop-gallery-view'%}" onclick="visitmyurl(this)">Continue Shopping</button></p>

	</div>
{% endblock %}