{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}
{{'My Transaction - Joyce Cakes'}}
{% endblock %}
{% block bodycontent %}
<hr style="border-color:rgba(0,0,0,0.1);">

<div id="transactioncontainer" class="midpagecontainer">

	<h4>My Transaction History</h4>
	<hr style="border-color:rgba(0,0,0,0.1);margin-bottom:10px;">
	{% if user_transactions|length > 0%}
	
		<table>
		<thead>
			<tr>
				<th>Date/Time</th>
				<th>Items</th>
				<th>Total Price</th>
				<th>Payment Medium</th>
				<th>Delivery Status</th>
				<th>Delivery Date</th>
				<th>Transaction Id</th>
			</tr>
		</thead>
		<tbody>
		{% for i in user_transactions %}
			<tr>
		
				<td>{{i.transaction_date}}</td>
				<td>
				{% for j in i.get_total_item_details %}
					<a href="{% url 'shop-item-detail-view' item_category=j.item_id.category.slug item_slug=j.item_id.slug %}">{{j.item_id}}({{j.item_qty}})</a>
				{% endfor %}
				</td>
				<td>&#8358;{{i.get_total_price|intcomma}}</td>
				<td>{{i.get_payment_medium_display|upper}}</td>
				<td>{{i.get_transaction_status_display|upper}}</td>
				<td></td>
				<td>{{i.transaction_id_string}}</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>


	

	{% else %}
		<h4>No Transaction!!</h4>
	
	{% endif %}
	
</div>

{% endblock %}