{% for each_row in carousel_rows %}
<div id="carousel{{each_row.idnum}}" class="carouselitems">
		<div>
			<div class="midpagecontainer striptitle">
				<h4>{{each_row.name}}</h4>
				{% if each_row.show_view_all_link%}
				<a class="viewallbtn" href="{% url 'shop-gallery-view-category' each_row.content.0.category.slug%}">View All</a>
				{% endif %}
			</div>
			
			<div class=" itemscontainer midpagecontainer">
			<p class="prevarrow">&#8249;</p>
			<p class="nextarrow">&#8250;</p>			
				
				<ul>
					{% include 'items_in_carousel.html' with current_row=each_row.content %}
				</ul>
							
			

			</div>

		</div>
		<div class="clearfix"></div>
	</div>
	{% endfor %}	