{%for key,value in carousel_items.items %}
<div id="carousel{{key}}" class="carouselitems">
		<div>
			<div class="midpagecontainer striptitle">
				<h4>{{value.0}}</h4>
				{% if value.2 %}
				<a class="viewallbtn" href="{% url 'shop-gallery-view-category' value.1.0.category.slug%}">View All</a>
				{% endif %}
			</div>
			
			<div class=" itemscontainer midpagecontainer">
			<p class="prevarrow">&#8249;</p>
			<p class="nextarrow">&#8250;</p>			
				
				<ul>
					{% include 'items_in_carousel.html' with current_row=value.1 %}
					
				</ul>		

			</div>

		</div>
		<div class="clearfix"></div>
	</div>
{% endfor %}



