<footer>
<div id="footerwrapper">
<div id="socialbarlinks">
	<ul class="soc">
	{% for i in social_networks %}
    <li><a class="soc-{{i.social_name|lower}}" target="_blank" href="{{i.social_link}}"></a></li>


    <!-- <li><a class="soc-facebook" target="_blank" href="{{social_networks.facebook}}"></a></li>
    <li><a class="soc-google" target="_blank" href="{{social_networks.google_plus}}"></a></li>
    <li><a class="soc-youtube" target="_blank" href="{{social_networks.youtube}}"></a></li>
    <li><a class="soc-instagram" target="_blank" href="{{social_networks.instagram}}"></a></li> -->
    <!-- <li><a class="soc-pinterest" href="{{social_networks.twitter}}"></a></li> -->
    <!-- <li><a class="soc-linkedin" href="#"></a></li> -->
    <!-- <li><a class="soc-rss soc-icon-last" href="#"></a></li> -->
    {% endfor %}
</ul>
</div>
<div id="footernavlinks">
	<ul>
	{% for k,v in nav_links.iteritems %}
		<li><a href="{{v.1}}">{{v.0}}</a></li>
	{% endfor %}
	</ul>
</div>
<div id="footercontainer">
	<p id="copyrighttext">&copy; 2016 JoyceCake.com</p>
	<p style="text-align:center;color:#555555;font-size:10px;">Designed Using <a style="color:rgba(255,255,255,0.3)" href="https://www.djangoproject.com/" target="_blank">The Django Framework</a></p>
</div>
</div>
	
</footer>