{%load staticfiles %}
<div id="bannercontainer">
		<img id="bannerimg" src="{% static 'images/slider/5.png' %}">
		<div id="bannertextcontainer" class="midpagecontainer">
			<div id="bannertext">
				<p>Welcome to JoyceCake.com</p>
				<!-- <p>An Online Cake Shop</p> -->
				<p>We offer free delivery within Porthacourt</p>			
			</div>
			<p class="button-color" id="ctabtn" ><a href="{%url 'shop-gallery-view' %}">Visit Our Cake Gallery</a></p>
			<!-- <img src="static/media/images/menu/ic_local_shipping_white_24px.svg">	 -->			
		</div>		
	</div>