{%load staticfiles %}
<div id="bannercontainer">
		<img id="bannerimg" src="{% static 'images/slider/1.jpg' %}">
		<div id="bannertextcontainer" class="midpagecontainer">
			<div id="bannertext">
				<p>Welcome to JoyceCakes.com</p>
				<p>An Online Cake Shop</p>
				<p>We offer free delivery nationwide</p>			
			</div>
			<p id="ctabtn" ><a href="{%url 'shop-gallery-view' %}">Visit Our Cake Gallery</a></p>
			<!-- <img src="static/media/images/menu/ic_local_shipping_white_24px.svg">	 -->			
		</div>		
	</div>