<div id="topnav">
		<div class="midpagecontainer">
		<p>Call us:{{default_vals.mobile_numbers.0}}</p>		
		<ul id="mainnav">
		{% if request.user.is_authenticated %}
			<li><a href="{% url 'user_profile_page'%}">{{user.username}}</a></li>
			<li><a href="{% url 'user_logout'%}">Logout</a></li>
		{% else %}		
			<li><a href="{% url 'user_login'%}?next={{request.path}}">Login</a></li>
			<li><a href="{% url 'user_register' %}">Register</a></li>
		{% endif %}			
			<li><a id="id_mycart" data-cartlength="{{cart_items|length}}"href="{% url 'shop-cart-view' %}">My Cart({{cart_items}})</a>
			</li>			
		</ul>
		<p id="allcartitems" style="display:none;">{{cart_items}}</p>
		<div class="clearfix"></div>
	</div>		
</div>